<h2>Sign up</h2>
<div class="row">
  <div class="col-md-12">
    

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
    <%= f.email_field :email,label: "Email"%>

  
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, label: "Password" %>

    <%= f.password_field :password_confirmation, label: "Password confirmation" %>
    <%= f.submit "Sign up",class:"btn btn-primary btn-lg btn-block btn-space" %>
<% end %>

<%= render "devise/shared/links" %>


  </div>
</div>
