
<div class="row">
    <div class="col-md-12">
    <%= bootstrap_form_for(@project) do |f| %>
    
      <%if @project.errors.any? %>
        <div class="panel panel-danger col-md-offset-1"> 
          <div class="panel-heading">
                <h2 class="panel-title">
                  <%= pluralize(@project.errors.count,"error")%>
                  prohibited this project from being saved:
                </h2>
              
              <div class="panel-body">
                  <ul>
                  <% @project.errors.full_messages.each do |msg|%>
                    <li>
                      <%= msg %>
                    </li>
                    <% end %>
                  </ul>
              </div>
          </div>
        </div>  
      <%end%>
    
      <%= f.text_field :name %>
      <%= f.text_area :description , label: "Simple description" %>
      <%= f.submit "Create Project"  , class:"btn btn-primary btn-block btn-lg btn-space"%>
    <% end %>
    </div>
</div>